<div class="table-responsive">
  <table class="table table-hover crisises">
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let crisis of crisises" (click)="onSelect(crisis)">
        <td class="md-text-cell">{{crisis.id}}</td>
        <td class="md-text-cell">{{crisis.name}}</td>
        <td><button class="btn btn-danger" (click)="delete(crisis, $event)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
<button class="btn btn-primary" (click)="addCrisis()">Add New Crisis</button>